SetEnv ENCRYPTION_KEY F3F95B9D170F65C355C84FFCD23891B63D238009B41C6E64847421157DEC248A
SetEnv AES_ENCRY_KEY dee9236d6dea5e79282f0d2cc73869c1b7e346665dbfb689d7dae4e4fd78f4aa

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_URI} ^core.*
RewriteRule ^(.*)$ /index.php?/$1 [L]
RewriteCond %{REQUEST_URI} ^app.*
RewriteRule ^(.*)$ /index.php?/$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|css|js|img|robots\.txt)
RewriteRule ^(.*)$ /index.php?/$1 [L]